# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
CrossCppWPApp/Debug/
CrossCppPrototype/Debug/
CrossCppWPApp/ARM/
CrossCppPrototype/ipch/CROSSCPPWPAPP-7f469be6/CROSSCPPWPAPP-af1a821d.ipch
CrossCppPrototype/CommonLibrary/CommonLibrary.Android/ARM/
CrossCppPrototype/CommonLibrary/CommonLibrary.iOS/ARM/
CrossCppPrototype/CommonLibrary/CommonLibrary.iOS/x86/
CrossCppPrototype/ipch/
CrossCppPrototype/CommonLibrary/CommonLibrary.Android/x86/
CrossCppPrototype/ARM/Debug/libCommonLibrary.so.recipe
CrossCppPrototype/CrossCppPrototype.sdf
CrossCppPrototype/CrossCppPrototype.opensdf
